# Diretórios locais .terraform
.terraform/

# Arquivos .tfstate
*.tfstate
*.tfstate.*

# Arquivos de log de crash
crash.log
crash.*.log

# Excluir todos os arquivos .tfvars, pois geralmente contêm dados sensíveis,
# como senhas, chaves privadas e outros segredos. Estes não devem fazer parte do
# controle de versão, pois são dados potencialmente sensíveis e sujeitos a mudanças
# dependendo do ambiente.
*.tfvars
*.tfvars.json

# Ignorar arquivos override, pois geralmente são usados para sobrescrever recursos localmente
# e, portanto, não são versionados
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignorar arquivos de bloqueio transitórios criados pelo terraform apply
.terraform.tfstate.lock.info

# Incluir arquivos override que você deseja adicionar ao controle de versão usando padrão negado
!example_override.tf

# Ignorar arquivos tfplan (resultado do comando terraform plan -out=tfplan)
*tfplan*

# Ignorar arquivos de configuração da CLI
.terraformrc
terraform.rc